@charset "utf-8";
// container
.container {
  --bs-gutter-x: 2.4rem;
  max-width: 1280px;
}

// wrap
.wrap {
  --sidebar: 200px;
}

// header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar);
  height: 100vh;
  border-right: 1px solid $line-c1;
  background-color: $bg-c1;
  box-shadow: $shadow-1;
  z-index: 999;
  &__container {
    width: 100%;
    height: 100%;
  }
  &__top {
    height: 7rem;
    padding: 2rem;
  }
  &__nav {
    height: calc(100% - (7rem + 6.4rem));
    padding: 2rem;
    overflow-y: auto;
  }
  &__bottom {
    height: 6.4rem;
    padding: 2rem;
  }
  &__title {
    position: relative;
    margin-bottom: 0;
    a {
      line-height: 1;
      height: 2.5rem;
      img {
        display: block;
        width: auto;
        height: 100%;
        border-radius: 50%;
      }
      span {
        display: block;
        margin-left: 0.8rem;
        font-size: $font-s20;
      }
    }
  }
  &__menu {
    > li {
      border-bottom: 1px solid $line-c1;
      .btn {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 5rem;
        font-size: $font-s16;
        font-weight: 500;
        span {
          display: inline-block;
          margin-left: 1rem;
        }
        &.nuxt-link-active,
        &:hover {
          color: $brand;
        }
        &:active {
          border-color: transparent;
        }
      }
    }
  }
  &__submenu {
    position: relative;
    padding: 0 1rem 1rem;
    li {
      & + li {
        margin-top: 1rem;
      }
      @include truncate;
      a {
        display: block;
        font-size: $font-s14;
        color: $font-c2;
        &:hover {
          color: $brand;
        }
      }
      &.edit {
        position: absolute;
        top: -4.5rem;
        right: 0;
      }
    }
  }
  &__copy {
    margin-bottom: 0;
    font-size: $font-s14;
    color: $font-c2;
  }
}

// main
.main {
  margin-left: var(--sidebar);
  width: calc(100% - #{var(--sidebar)});
  height: 100%;
  min-width: 1280px;
  &__container {
    position: relative;
    padding: 4rem;
    max-width: 1440px;
    height: 100%;
  }
  &__iframe {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  &__nav {
    position: sticky;
    top: 5rem;
    margin-bottom: 5rem;
    background-color: $white;
    .nav-link {
      color: $font-c1;
      &.active {
        color: $brand;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrap {
    --sidebar: 6rem;
  }
  .header {
    &__top {
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
    &__title {
      a {
        span {
          display: none;
        }
      }
    }
    &__nav {
      padding: 1rem;
    }
    &__menu {
      li {
        > .btn {
          display: flex;
          justify-content: center;
          font-size: 2.4rem;
          span {
            display: none;
          }
        }
        &.edit {
          display: none;
        }
      }
    }
    &__submenu {
      display: none;
    }
    &__bottom {
      display: none;
    }
  }
  .main {
    &__container {
      padding: 2rem;
    }
    &__nav {
      top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
